.DS_Store
*.plist
*.xcuserstate
GitHubApp.xcodeproj/xcuserdata/ahmednasr.xcuserdatad/xcschemes/xcschememanagement.plist
GitHubApp.xcodeproj/xcuserdata/ahmednasr.xcuserdatad/xcschemes/xcschememanagement.plist
GitHubApp.xcodeproj/xcuserdata/ahmednasr.xcuserdatad/xcschemes/xcschememanagement.plist
